body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

main,
section,
header,
nav {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

:root {
    --headcolor: rgba(45, 45, 45, 0.2);
    --color1: #e8ebe4;
    --color2: #d2d5dd;
    --color3: #d0ceba;
    --color4: #e9d2c0;
    --color5: #dbf4ad;
    --color6: #8af3ff;
    --color7: #18a999;
    --color8: #c2a878;
    --color9: #f1f5f2;
    --color10: #cbefb6;
    --color11: #d0ffce;
    --color12: #fbfbf2;
    --color13: #e5e6e4;
    --color14: #cfd2cd;
    --color15: #a6a2a2;
    --color16: #847577;
    /* font*/
    --font: 2.5vh;
}

#main-doc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

#navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
}

#navbar>header {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

#navbar>.top {
    font-family: 'Open Sans', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/*Nav bar styling*/

.top {
    overflow: auto;
    height: 40vh;
    border-top: 2px solid silver;
    border-bottom: 2px solid silver;
    border-left: 2px solid silver;
    border-right: 1px solid black;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.nav-link li {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

span {
    background: rgba(192, 192, 192, 0.4);
    padding: 0% 1.5%;
}

code {
    font-family: 'Open Sans', sans-serif;
    /*border: 1px solid red;*/
    border-radius: 6px;
    font-size: 14px;
    line-height: 24px;
    white-space: pre-line;
    word-break: break-all;
    word-wrap: break-word;
    background: hsl(30, 80%, 90%);
    /*change to silver shades later*/
    padding: 1% 5%;
    border-radius: 2%;
    display: block;
    margin: 0px 2%;
}


/*white-space: normal|nowrap|pre|pre-line|pre-wrap|initial|inherit;
word-wrap: normal|break-word|initial|inherit;
word-break: normal|break-all|keep-all|break-word|initial|inherit;
*/

.main-section {
    width: 100%;
}

.main-section>header {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 7%;
}

article>p,
.main-section>p,
.main-section>li {
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-size: 16px;
    /*border: 1px solid red;*/
    margin: 2% 7%;
}

article>ul>li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: auto 7%;
}

article>ol>li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: auto 7%;
}

ol>li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: auto 7%;
}


/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

@media only screen and (min-width: 750px) {
    #main-doc {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    .top {
        height: 100vh;
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
    #navbar {
        flex: 0 0 auto;
        width: 35%;
        margin: 1% auto;
    }
    #root {
        flex: 1 1 auto;
        overflow: auto;
        width: 65%;
    }
    code {
        font-size: 14px;
        white-space: pre-line;
        word-break: break-all;
        word-wrap: break-word;
        background: hsl(30, 80%, 90%);
        padding: auto 5%;
        margin: 2% 2%;
    }
    #root {
        border-left: 5px solid silver;
    }
}

@media only screen and (min-width: 992px) {
    #navbar {
        flex: 0 0 auto;
        width: 30%;
        margin: 1% auto;
    }
    #root {
        flex: 1 1 auto;
        overflow: auto;
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    #navbar {
        width: 20%;
    }
    #root {
        width: 80%;
    }
    code {
        white-space: pre;
        word-break: break-all;
        word-wrap: break-word;
        background: rgba(192, 192, 192, 0.4);
        padding: 1% 5%;
        border-radius: 2%;
        display: block;
        margin: 0px 5%;
    }
    article>p,
    .main-section>p,
    .main-section>li {
        margin: 2% 4%;
    }
    article>ul>li {
        margin: auto 4%;
    }
    article>ol>li {
        margin: auto 4%;
    }
    ol>li {
        margin: auto 4%;
    }
}